### 7. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [2]:
import pandas as pd # import thư viện pandas và đặt tên viết tắt là pd
df = pd.DataFrame({ #Tạo dataFrame 'df' bằng cách sử dụng hàm pd.DataFrame
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
#Với các tên như school_code, class, name, ... là tên cột trong DataFrame 
print("Default Index:")
print(df.head(10)) #In ra 10 dòng đầu tiên của dataFrame 'df'
print("\nSchool_code as new Index:\n")
df1 = df.set_index('school_code') #Tạo ra một bản sao của df và đặt cột 'school_code' làm chỉ số
print(df1.head(10))
print("\nt_id as new Index:")
df2 = df.set_index('t_id') #Tương tự tạo ra một bản sao của df và đặt cột 't_id' làm chỉ số
print(df2.head(10))

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

School_code as new Index:

            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

### 8. Write a Pandas program to set value in a specific cell in a given dataframe using index.

In [7]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6']) #Chỉ mục
print("DataFrame ban đầu:\n")
print(df) #Hiển thị df
print("\nDataFrame sau khi thay đổi giá trị thông qua chỉ mục\n")
df.at['t6', 'school_code'] = 's005' #Thay đổi giá trị của ô ở cột 'school_code' và hàng 't6' của df thành s005
df.at['t1', 'date_of_birth'] = '16/05/2002'
#Tương tự thay đổi giá trị ở cột 'date_of_birth' và hàng 't1' của df thành '16/05/2002'
print(df) #Hiển thị kết quả sau khi thay đổi

DataFrame ban đầu:

   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

DataFrame sau khi thay đổi giá trị thông qua chỉ mục

   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    16/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s005    VI    David Parkes    15/09/1997      32

### 9. Write a Pandas program to convert index of a given dataframe into a column.

In [9]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6']) #Tương tự các bài trên, tạo ra một DataFrame và có cột index
print("DataFrame ban đầu:")
print(df)
print("\nChuyển cột index thành một cột trong DataFrame\n")
df.reset_index(level=0, inplace=True) # Thực hiện chuyển thông qua hàm reset_index.Tạo cột mới là đặt tên là index
#Trong đó: level 0 có nghĩa là chỉ mục đầu tiên (cấp độ đầu tiên sẽ được chuyển) dùng cho trường hợp có nhiều chỉ mục
#inplace=True thay đổi trực tiếp DataFrame gốc mà không cần tạo bản sao mới.
print(df) #Hiển thị DataFrame.

DataFrame ban đầu:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

Chuyển cột index thành một cột trong DataFrame

  index school_code class            name date_of_birth  weight
0    t1        s001     V  Alberto Franco    15/05/2002      35
1    t2        s002     V    Gino Mcneill    17/05/2002      32
2    t3        s003    VI     Ryan Parkes    16/02/1999      33
3    t4        s001    VI    Eesha Hinton    25/09/1998      30
4    t5        s002     V    Gino Mcneill    11/05/2002      31
5    t6        s004    VI    David Parkes    15/09/1997      32

### 10. Write a Pandas program to convert 1st and 3rd levels in the index into columns from a multiple level of index frame of a given dataframe.

In [3]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
print("Data Frame ban đầu \n")
print(df)
print("\nMultiIndex using columns 't_id', ‘school_code’ and 'class': \n")
df1 = df.set_index(['t_id', 'school_code', 'class']) #Tạo ra nhiều index là các cột 't_id', 'school_code', 'class'
print(df1) #Hiển thị Data Frame sau khi set index
print("\nConvert 1st and 3rd levels in the index frame into columns: \n")
df2 = df1.reset_index(level=['t_id', 'class'])
#Cuối cùng, chúng ta sử dụng hàm reset_index() để đặt lại các cột trong khung chỉ mục trở lại thành các cột 
#dữ liệu. Ở đây, chúng ta chỉ định các cấp của chỉ mục mà chúng ta muốn đặt lại bằng cách sử dụng tham số 
#level=['t_id', 'class'].
print(df2)

Data Frame ban đầu

  school_code class            name date_of_birth  weight t_id
0        s001     V  Alberto Franco    15/05/2002      35   t1
1        s002     V    Gino Mcneill    17/05/2002      32   t2
2        s003    VI     Ryan Parkes    16/02/1999      33   t3
3        s001    VI    Eesha Hinton    25/09/1998      30   t4
4        s002     V    Gino Mcneill    11/05/2002      31   t5
5        s004    VI    David Parkes    15/09/1997      32   t6

MultiIndex using columns 't_id', ‘school_code’ and 'class':

                                  name date_of_birth  weight
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35
t2   s002        V        Gino Mcneill    17/05/2002      32
t3   s003        VI        Ryan Parkes    16/02/1999      33
t4   s001        VI       Eesha Hinton    25/09/1998      30
t5   s002        V        Gino Mcneill    11/05/2002      31
t6   s004        VI       David Parkes    15/09/1997      32

Convert 1st and 3rd levels in the index frame into columns:

            t_id class            name date_of_birth  weight
school_code
s001          t1     V  Alberto Franco    15/05/2002      35
s002          t2     V    Gino Mcneill    17/05/2002      32
s003          t3    VI     Ryan Parkes    16/02/1999      33
s001          t4    VI    Eesha Hinton    25/09/1998      30
s002          t5     V    Gino Mcneill    11/05/2002      31
s004          t6    VI    David Parkes    15/09/1997      32

### 11. Write a Pandas program to check if a specified value exists in single and multiple column index dataframe.

In [6]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  ['t1', 't2', 't3', 't4', 't5', 't6']) #Tương tự , đây là cột index
print("DataFrame ban đầu với chỉ mục đơn\n")
print(df) #Hiển thị DataFrame ban đầu
print("\nKiểm tra giá trị có tồn tại trong DataFrame có chỉ mục đơn")
print('t1' in df.index) #Kiểm tra t1 có trong cột index không
print('t11' in df.index) #Kiểm tra t11 có trong cột index không
print("\nTạo MultiIndex sử dụng cột't_id', ‘school_code’ và 'class':")
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(['t_id', 'school_code', 'class']) #Tạo MultiIndex thông qua hàm set_index().
print(df1) #Hiển thị Data Frame sau khi tạo MultiIndex
print("\n Kiểm tra giá trị có tồn tại trong DataFrame có nhiều chỉ mục")
print('t4' in df1.index.levels[0]) #Kiểm tra t4 có trong cấp đầu tiên của chỉ mục tức là kiểm tra t4 có trong cột t_id không
print('t4' in df1.index.levels[1]) #Kiểm tra t4 có trong cấp thứ hai của chỉ mục tức là kiểm tra t4 có trong cột school_code không
print('t4' in df1.index.levels[2]) #Kiểm tra t4 có trong cấp thứ ba của chỉ mục tức là kiểm tra t4 có trong cột class không

DataFrame ban đầu với chỉ mục đơn

   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

Kiểm tra giá trị có tồn tại trong DataFrame có chỉ mục đơn
True
False

Tạo MultiIndex sử dụng cột't_id', ‘school_code’ và 'class':
                                  name date_of_birth  weight
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35
t2   s002        V        Gino Mcneill    17/05/2002      32
t3   s003        VI        Ryan Parkes    16/02/1999      33
t4   s001        VI       Eesha Hinton    25/09/1998      30
t5   s002        V        Gino Mcneill    11/05/2002      31
t6   s004        VI       David Parkes    15/09/1997      32

Kiểm tra giá trị có tồn tại trong DataFrame có nhiều chỉ mục
True
False
False

### 12. Write a Pandas program to construct a series using the MultiIndex levels as the column and index.

In [11]:
import pandas as pd 
import numpy as np
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
                ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
#Tạo một danh sách sales_arrays  chứa các mảng con.
sales_tuples = list(zip(*sales_arrays))
#Sử dụng hàm zip(*sales_arrays) để ghép các phần tử của các mảng con trong sales_arrays thành các cặp tuples.
#Kết quả là một danh sách sales_tuples chứa các cặp sale - city.
print("Create a MultiIndex :")
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
#Sử dụng hàm pd.MultiIndex.from_tuples() để tạo một đối tượng MultiIndex từ danh sách các cặp tuples sales_tuples.
#names=['sale', 'city'] đặt tên cho các cấp của MultiIndex 
print(sales_index)
print("\nConstruct a series using the said MultiIndex levels: ")
s = pd.Series(np.random.randn(8), index = sales_index)
#Sử dụng pd.Series() để tạo một Series mới.
#Dữ liệu của Series được sinh ngẫu nhiên từ phân phối chuẩn sử dụng np.random.randn(8).
#Chỉ mục (index) của Series được thiết lập là MultiIndex sales_index mà chúng ta vừa tạo
print(s)

Create a MultiIndex:
MultiIndex([('sale1', 'city1'),
            ('sale1', 'city2'),
            ('sale2', 'city1'),
            ('sale2', 'city2'),
            ('sale3', 'city1'),
            ('sale3', 'city2'),
            ('sale4', 'city1'),
            ('sale4', 'city2')],
           names=['sale', 'city'])

Construct a series using the said MultiIndex levels:
sale   city
sale1  city1   -1.181400
       city2   -1.330681
sale2  city1   -0.796583
       city2    1.186018
sale3  city1   -0.061844
       city2   -1.002449
sale4  city1   -1.458963
       city2   -0.494441
dtype: float64