### 1. Write a Pandas program to join the two given dataframes along rows and assign all data.

In [2]:
import pandas as pd #import thư viện
#Tạo dataFame là student_data1 có 3 cột là student_id, name, marks
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})
#Tạo DataFrame là student_data2 cũng có ba cột tương tự 
student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("\nHIỂN THỊ HAI DATAFRAME\n")
print(student_data1) #Hiển thị dataframe student_data1
print("-------------------------------------")
print(student_data2)#Hiển thị dataframe student_data2
print("\nNỐI HAI DATAFRAME LẠI VỚI NHAU THEO HÀNG (DỌC) \n")
result_data = pd.concat([student_data1, student_data2])
#Sử dụng hàm concat() để nối hai dataframe theo chiều dọc (theo hàng) và kết quả lưu vào biến result_data
print(result_data) #Hiển thị kết quả sau khi nối

HIỂN THỊ HAI DATAFRAME

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

NỐI HAI DATAFRAME LẠI VỚI NHAU THEO HÀNG (DỌC)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

### 2. Write a Pandas program to join the two given dataframes along columns and assign all data.

In [3]:
import pandas as pd #import thư viện
#Tạo dataFame là student_data1 có 3 cột là student_id, name, marks
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})
#Tạo dataFame là student_data2 có 3 cột là student_id, name, marks
student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("\nHIỂN THỊ HAI DATAFRAME BAN ĐẦU\n")
print(student_data1) #Hiển thị Dataframe student_data1
print("-------------------------------------")
print(student_data2) #Hiển thị Dataframe student_data2
print("\nNỐI HAI DATAFRAME LẠI VỚI NHAU THEO CỘT (NGANG) \n")
result_data = pd.concat([student_data1, student_data2], axis = 1)
#Sử dụng hàm concat() để nối hai dataframe. axis = 1 tức là  nối theo chiều ngang (theo cột) và kết quả lưu vào biến result_data
print(result_data)

HIỂN THỊ HAI DATAFRAME BAN ĐẦU

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

NỐI HAI DATAFRAME LẠI VỚI NHAU THEO CỘT (NGANG)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

### 3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.

In [26]:
import pandas as pd

# Tạo DataFrame student_data1 với 3 cột là student_id, name, marks
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

# Tạo một Series s6 với các chỉ số tương ứng với các cột của DataFrame student_data1
s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])

print("\nHIỂN THỊ DATAFRAME student_data1\n")
print(student_data1)
print("\nHIỂN THỊ SERIES S6\n")
print(s6)

# Sử dụng hàm concat() để nối DataFrame student_data1 và Series s6 vào DataFrame mới
combined_data = pd.concat([student_data1, s6.to_frame().T], ignore_index=True)
#Trong đó  s6.to_frame().T tức là sử dụng hàm to_frame để chuyển đổi Series thành DataFrame 
#sau đó chuyển vị DataFrame thông qua .T
#ignore_index=True: Tham số này chỉ định rằng chỉ số của các hàng mới trong DataFrame 
#kết quả sẽ được tạo lại, thay vì giữ nguyên các chỉ số của hai DataFrame gốc. 
#Điều này làm cho chỉ số của các hàng trong DataFrame kết quả bắt đầu từ 0 và tăng dần một 
#cách liên tục, thay vì giữ nguyên chỉ số của các hàng gốc.

print("\nHIỂN THỊ KẾT QUẢ SAU KHI NỐI\n")
print(combined_data)

HIỂN THỊ DATAFRAME student_data1

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

HIỂN THỊ SERIES S6

student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

HIỂN THỊ KẾT QUẢ SAU KHI NỐI

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205

### 4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.

In [13]:
import pandas as pd
#Tạo DataFrame student_data1 với 3 cột là 'student_id', 'name', 'marks'
student_data1  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})
#Tạo một Series s6 với các chỉ số tương ứng với các cột của DataFrame student_data1.
s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])

#Tạo một danh sách tên là dicts 
dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

print("\nHIỂN THỊ DATAFRAME BAN ĐẦU\n")
print(student_data1)
print("\nHIỂN THỊ SERIES S6\n")
print(s6)
print("\nHIỂN THỊ DANH SÁCH\n")
print(dicts)


s6_df = s6.to_frame().T
#Hàm to_frame() để chuyển Series thành DataFrame .Kết quả sẽ là một DataFrame có 1 cột với tên 
#cột là tên của Series ban đầu .
#Phương thức .T là chuyển vị nghĩa là đổi cột thành hàng.
combined_data = pd.concat([student_data1, s6_df], ignore_index=True)
#Dùng phương thức concat() để nối vào DataFrame 

dicts_df = pd.DataFrame(dicts)
#Khi truyển một danh sách vào hàm pd.DataFrame() pandas sẽ tự động tạo một DataFrame mới 
combined_data = pd.concat([combined_data, dicts_df], ignore_index=True)
#Tương tự như trên sử dụng concat để nối 2 DataFrame

print("\nHIỂN THỊ KẾT QUẢ SAU KHI NỐI CẢ BA\n")
print(combined_data) #Hiển thị kết quả sau khi nối.

HIỂN THỊ DATAFRAME BAN ĐẦU

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

HIỂN THỊ SERIES S6

student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

HIỂN THỊ DANH SÁCH

[{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203}, {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

HIỂN THỊ KẾT QUẢ SAU KHI NỐI CẢ BA

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205
6         S6  Scarlette Fisher   203
7         S7      Bryce Jensen   207

### 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [20]:
import pandas as pd
#Tạo 1 DataFrame là student_data1 có 3 cột là student_id, name, marks
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})
#Tạo thêm 1 DataFrame là student_data2 có 3 cột là student_id, name, marks
student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
#Tạo một DataFrame là exam_data chỉ có hai cột
exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("\nHIỂN THỊ LẦN LƯỢT 3 DATAFRAME VỪA TẠO\n")
print(student_data1)
print("==================================================")
print(student_data2)
print("==================================================")
print(exam_data)

print("\nNỐI HAI DATAFRAME LÀ 'student_data1' VÀ 'student_data2' THEO CHIỀU DỌC (HÀNG)\n")
result_data = pd.concat([student_data1, student_data2], ignore_index=True)
#Sử dụng hàm concat để nối hai DataFrame mặc định là theo chiều dọc (hàng) sau đó lưu kết quả vào biến result_data
print(result_data) #Hiển thị kết quả sau khi nối

print("\nKẾT HỢP DATAFRAME 'result_data' VỚI 'exam_data' dựa trên cột 'student_id'\n ")
final_merged_data = pd.merge(result_data, exam_data, on='student_id')
#Sử dụng hàm merge để kết hợp hai DataFrame dựa trên cột student_id và lưu kết quả trả về cho biến final_merged_data 
print(final_merged_data) #Hiển thị kết quả sau khi kết hợp

HIỂN THỊ LẦN LƯỢT 3 DATAFRAME VỪA TẠO

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
==================================================
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
==================================================
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12

NỐI HAI DATAFRAME LÀ 'student_data1' VÀ 'student_data2' THEO CHIỀU DỌC (HÀNG)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

KẾT HỢP DATAFRAME 'result_data' VỚI 'exam_data' dựa trên cột 'student_id'

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

### 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.

In [25]:
import pandas as pd
#Tạo ra 1 DataFrame là student_data1 có 3 cột là student_id, name, marks
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})
#Tạo ra 1 DataFrame là student_data2 có 3 cột là student_id, name, marks
student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("\nHIỂN THỊ HAI DATAFRAME BAN ĐẦU\n")
print(student_data1)
print("========================================")
print(student_data2)

merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')
# pd.merge() để kết hợp hai DataFrame là 'student_data1'  và 'student_data2'
#on='student_id' chỉ định cột mà 2 DataFrame sẽ được kết hợp dựa trên
#how='inner': Tham số này chỉ định kiểu kết hợp. Trong trường hợp này, 
#kiểu kết hợp là 'inner', nghĩa là chỉ có các hàng có giá trị khớp trong cột 'student_id' 
#của cả hai DataFrame mới được giữ lại trong kết quả cuối cùng.
print("\nHIỂN THỊ KẾT QUẢ SAU KHI MERGE (inner join):\n")
print(merged_data)

HIỂN THỊ HAI DATAFRAME BAN ĐẦU

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
========================================
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

HIỂN THỊ KẾT QUẢ SAU KHI MERGE (inner join):

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200