## Bài 51. Write a Pandas program to convert the datatype of a given column (floats to ints).

Đề bài yêu cầu viết một chương trình Pandas để chuyển đổi kiểu dữ liệu của một cột cho trước từ kiểu float sang kiểu integer.

In [2]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9.1, 16.5, 12.77, 9.21, 20.22, 14.5, 11.34, 8.8, 19.13],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df = pd.DataFrame(exam_data) #Tạo DataFrame từ dữ liệu là exam_data
print("Original DataFrame:")
print(df) #In ra DataFrame gốc
print("\nData types of the columns of the said DataFrame:")
print(df.dtypes) #In ra kiểu dữ liệu của mỗi cột trong DataFrame
print("\nNow change the Data type of 'score' column from float to int:")
df.score = df.score.astype(int)
#.astype(int) chuyển đổi kiểu dữ liệu của cột score sang int 
print(df) #In lại DataFrame sao khi chuyển 
print("\nData types of the columns of the DataFrame now:")
print(df.dtypes) #Kiểm tra lại kiểu dữ liệu sao khi chuyển

Original DataFrame:
        name  score  attempts qualify
0  Anastasia  12.50         1     yes
1       Dima   9.10         3      no
2  Katherine  16.50         2     yes
3      James  12.77         3      no
4      Emily   9.21         2      no
5    Michael  20.22         3     yes
6    Matthew  14.50         1     yes
7      Laura  11.34         1      no
8      Kevin   8.80         2      no
9      Jonas  19.13         1     yes

Data types of the columns of the said DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

Now change the Data type of 'score' column from float to int:
        name  score  attempts qualify
0  Anastasia     12         1     yes
1       Dima      9         3      no
2  Katherine     16         2     yes
3      James     12         3      no
4      Emily      9         2      no
5    Michael     20         3     yes
6    Matthew     14         1     yes
7      Laura     11         1      no
8      Kevin      8         2      no
9      Jonas     19         1     yes

Data types of the columns of the DataFrame now:
name        object
score        int32
attempts     int64
qualify     object
dtype: object

## Bài 52. Write a Pandas program to remove infinite values from a given DataFrame.

Đề bài yêu cầu viết một chương trình Pandas để loại bỏ giá trị vô cùng (infinite values) từ một DataFrame đã cho.

Giá trị vô cùng thường xuất hiện khi có các phép toán như chia cho 0 trong quá trình xử lý dữ liệu. Loại bỏ các giá trị vô cùng là quan trọng để tránh gây lỗi trong các phép toán và phân tích dữ liệu.

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame([1000, 2000, 3000, -4000, np.inf, -np.inf])
#Tạo đối tượng DataFrame 1 cột chứa các giá trị số nguyên và giá trị vô cùng
print("Original DataFrame:")
print(df) #In ra DataFrame gốc
print("Removing infinite values:")
df = df.replace([np.inf, -np.inf], np.nan) 
#.replace dùng để thế np.inf, -np.inf thành np.nan.Kết quả sau khi thay thế được gán ngược lại cho df
print(df)

Original DataFrame:
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     inf
5    -inf
Removing infinite values:
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     NaN
5     NaN

## Bài 53. Write a Pandas program to insert a given column at a specific column index in a DataFrame.

Đề bài yêu cầu viết một chương trình Pandas để chèn một cột đã cho vào một chỉ mục cột cụ thể trong DataFrame.

In [7]:
import pandas as pd
d = {'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]} #Tạo dữ liệu có 2 cột
df = pd.DataFrame(data=d) #Tạo đối tượng DataFrame với dữ liệu là d được tạo ở trên
print("Original DataFrame")
print(df) #In ra DataFrame gốc
new_col = [1, 2, 3, 4, 7]  #Tạo một cột mới
# insert the said column at the beginning in the DataFrame
idx = 0
df.insert(loc=idx, column='col1', value=new_col)
#insert là phương thức chèn cột với loc là chỉ mục của cột cần chèn, column là tên cột mới
#value là giá trị của cột mới
print("\nNew DataFrame")
print(df) #In ra dataFrame sau khi chèn

Original DataFrame
   col2  col3
0     4     7
1     5     8
2     6    12
3     9     1
4     5    11

New DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

## Bài 54. Write a Pandas program to convert a given list of lists into a Dataframe.

Đề bài yêu cầu viết một chương trình Pandas để chuyển đổi một danh sách các danh sách (list of lists) thành một DataFrame.

Một DataFrame là một biểu diễn dữ liệu hai chiều, có thể được xem như một bảng, trong đó dữ liệu được tổ chức thành các hàng và cột. Mỗi danh sách con trong danh sách chính sẽ tương ứng với một hàng trong DataFrame.

In [10]:
import pandas as pd
my_lists = [['col1', 'col2'], [2, 4], [1, 3]]
#Tạo ra một list of list
# sets the headers as list
headers = my_lists.pop(0)  #TÊN CỘT
#pop(0) để loại bỏ và trả về phần tử đầu tiên của danh sách my_list và lưu vào biến headers
print("Original list of lists:")
print(my_lists) #In ra list of list 
df = pd.DataFrame(my_lists, columns = headers)
#Chuyển list of list thành DataFrame với tên cột là headers (columns là đặt tên cột)
print("New DataFrame")
print(df)

Original list of lists:
[[2, 4], [1, 3]]
New DataFrame
   col1  col2
0     2     4
1     1     3

## Bài 55. Write a Pandas program to group by the first column and get second column as lists in rows.

Đề yêu cầu viết một chương trình Pandas để nhóm dữ liệu theo cột đầu tiên và lấy giá trị của cột thứ hai như là danh sách trong từng dòng.

In [18]:
import pandas as pd
df = pd.DataFrame( {'col1':['C1','C1','C2','C2','C2','C3','C2'], 'col2':[1,2,3,3,4,6,5]})
#Tạo ra đối tượng DataFrame tên là df có 2 cột với các giá trị tương ứng
print("Original DataFrame")
print(df) #In ra dataFrame gốc
df = df.groupby('col1')['col2'].apply(list)
#groupby là phương thức nhóm cột 1 theo giá trị của cột 1
#.apply(list) chuyển giá trị của cột 2 trong mỗi nhóm thành 1 danh sách 
print("\nGroup on the col1:")
print(df)

Original DataFrame
  col1  col2
0   C1     1
1   C1     2
2   C2     3
3   C2     3
4   C2     4
5   C3     6
6   C2     5

Group on the col1:
col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object

## Bài 56. Write a Pandas program to get column index from column name of a given DataFrame

Đề bài yêu cầu viết một chương trình Pandas để lấy chỉ mục (index) của cột dựa trên tên cột trong một DataFrame đã cho.

In [20]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d) #Tạo đối tượng DataFrame từ dữ liệu ở trên (d)
print("Original DataFrame")
print(df) #In ra dataFrame gốc
print("\nIndex of 'col2'")
print(df.columns.get_loc("col2"))
#Phương thức columns để lấy danh sách tên cột
#Phương thức get_loc để lấy chỉ mục của cột có tên là col2

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1