#### Import thư viện

In [7]:
import pandas as pd
import numpy as np

1. Exploratory data analysis
- Load the data from men results.csv and women results.csv to understand its contents.
- Determining the column names, data types, and values

In [8]:
men_result   = pd.read_csv(r"D:\TKMT_T.Ngọc\21068021_PhanNguyenKhoiNguyen_30-3-2024\data\men_results.csv")
women_result = pd.read_csv(r"D:\TKMT_T.Ngọc\21068021_PhanNguyenKhoiNguyen_30-3-2024\data\women_results.csv")

In [9]:
men_result.info()
men_result.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44353 entries, 0 to 44352
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44353 non-null  int64
 1   date        44353 non-null  object
 2   home_team   44353 non-null  object
 3   away_team   44353 non-null  object
 4   home_score  44353 non-null  int64
 5   away_score  44353 non-null  int64
 6   tournament  44353 non-null  object
dtypes: int64(3), object(4)
memory usage: 2.4+ MB

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
0,0,1872-11-30,Scotland,England,0,0,Friendly
1,1,1873-03-08,England,Scotland,4,2,Friendly
2,2,1874-03-07,Scotland,England,2,1,Friendly
3,3,1875-03-06,England,Scotland,2,2,Friendly
4,4,1876-03-04,Scotland,England,3,0,Friendly

In [10]:
women_result.info()
women_result.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4884 non-null   int64
 1   date        4884 non-null   object
 2   home_team   4884 non-null   object
 3   away_team   4884 non-null   object
 4   home_score  4884 non-null   int64
 5   away_score  4884 non-null   int64
 6   tournament  4884 non-null   object
dtypes: int64(3), object(4)
memory usage: 267.2+ KB

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
0,0,1969-11-01,Italy,France,1,0,Euro
1,1,1969-11-01,Denmark,England,4,3,Euro
2,2,1969-11-02,England,France,2,0,Euro
3,3,1969-11-02,Italy,Denmark,3,1,Euro
4,4,1975-08-25,Thailand,Australia,3,2,AFC Championship

2. Filtering the data
- Filter the data to only include official FIFA World Cup matches that took place after 2002-01-01.
- Filtering for FIFA World Cup matches
- Filtering for matches after 2002-01-01

In [11]:
# Convert the 'date' column to datetime format if it's not already
men_result['date'] = pd.to_datetime(men_result['date'])
women_result['date'] = pd.to_datetime(women_result['date'])

# Filter the data for FIFA World Cup matches
fifa_world_cup_matches_men = men_result[men_result['tournament'] == 'FIFA World Cup']
fifa_world_cup_matches_women= women_result[women_result['tournament'] == 'FIFA World Cup']

# print(fifa_world_cup_matches_men)
# print(fifa_world_cup_matches_women)

# Filter the data for matches after January 1, 2002
fifa_matches_after_2002_men = fifa_world_cup_matches_men[fifa_world_cup_matches_men['date'] > '2002-01-01']
fifa_matches_after_2002_women = fifa_world_cup_matches_women[fifa_world_cup_matches_women['date'] > '2002-01-01']

print("\n Nam \n")
print(fifa_matches_after_2002_men)
print("\n Nữ \n")
print(fifa_matches_after_2002_women)

 Nam

       Unnamed: 0       date            home_team     away_team  home_score  \
25164       25164 2002-05-31               France       Senegal           0
25165       25165 2002-06-01              Germany  Saudi Arabia           8
25166       25166 2002-06-01  Republic of Ireland      Cameroon           1
25167       25167 2002-06-01              Uruguay       Denmark           1
25168       25168 2002-06-02            Argentina       Nigeria           1
...           ...        ...                  ...           ...         ...
44343       44343 2022-12-10              England        France           1
44345       44345 2022-12-13            Argentina       Croatia           3
44346       44346 2022-12-14               France       Morocco           2
44350       44350 2022-12-17              Croatia       Morocco           2
44352       44352 2022-12-18            Argentina        France           3

       away_score      tournament
25164           1  FIFA World Cup
25165           0  FIFA World Cup
25166           1  FIFA World Cup
25167           2  FIFA World Cup
25168           0  FIFA World Cup
...           ...             ...
44343           2  FIFA World Cup
44345           0  FIFA World Cup
44346           0  FIFA World Cup
44350           1  FIFA World Cup
44352           3  FIFA World Cup

[384 rows x 7 columns]

 Nữ

      Unnamed: 0       date      home_team      away_team  home_score  \
1600        1600 2003-09-20        Nigeria    North Korea           0
1601        1601 2003-09-20         Norway         France           2
1602        1602 2003-09-20        Germany         Canada           4
1603        1603 2003-09-20          Japan      Argentina           6
1604        1604 2003-09-21  United States         Sweden           3
...          ...        ...            ...            ...         ...
4465        4465 2019-06-29        Germany         Sweden           1
4466        4466 2019-07-02        England  United States           1
4467        4467 2019-07-03    Netherlands         Sweden           1
4468        4468 2019-07-06        England         Sweden           1
4469        4469 2019-07-07  United States    Netherlands           2

      away_score      tournament
1600           3  FIFA World Cup
1601           0  FIFA World Cup
1602           1  FIFA World Cup
1603           0  FIFA World Cup
1604           1  FIFA World Cup
...          ...             ...
4465           2  FIFA World Cup
4466           2  FIFA World Cup
4467           0  FIFA World Cup
4468           2  FIFA World Cup
4469           0  FIFA World Cup

[200 rows x 7 columns]

3. Choosing the correct hypothesis test
- Use EDA to determine the appropriate hypothesis test for this dataset and scenario.
- Determining the type of hypothesis test
- Determining if the data is normally distributed

Để xác định kiểu kiểm định giả thuyết phù hợp, chúng ta cần xác định mục tiêu của nghiên cứu. Dựa vào dữ liệu, một trong những mục tiêu có thể là so sánh điểm số trung bình giữa đội chủ nhà và đội khách.

Với mục tiêu này, kiểm định t-test độc lập có thể phù hợp. Kiểm định này sẽ cho phép chúng ta xác định xem có sự khác biệt đáng kể về điểm số trung bình giữa hai nhóm (đội chủ nhà và đội khách) hay không.

Để đảm bảo tính phân phối chuẩn của dữ liệu, chúng ta có thể sử dụng các biểu đồ như histogram hoặc QQ plot, cũng như kiểm định Shapiro-Wilk. Nếu dữ liệu không tuân theo phân phối chuẩn, có thể cần thực hiện biến đổi dữ liệu hoặc sử dụng phương pháp thống kê khác.

4. Performing the hypothesis test
- Once you've decided on the correct hypothesis test to perform, carry out the test to return the p-value.
- How to perform the hypothesis test using pingouin
- How to perform the hypothesis test using SciPy
- Extracting the p-value using pingouin
- Extracting the p-value using SciPy

In [12]:
#How to perform the hypothesis test using pingouin
import pingouin as pg

# Thực hiện kiểm định t độc lập
t_result = pg.ttest(men_result['home_score'], men_result['away_score'], paired=False)

# Trích xuất giá trị p-value
p_value_pingouin = t_result['p-val'].values[0]

print("Giá trị p-value sử dụng pingouin:", p_value_pingouin)

Giá trị p-value sử dụng pingouin: 0.0

c:\program files\python38\lib\site-packages\pingouin\bayesian.py:152: RuntimeWarning: divide by zero encountered in scalar divide
  bf10 = 1 / ((1 + t**2 / df) ** (-(df + 1) / 2) / integr)

In [13]:
# How to perform the hypothesis test using SciPy
from scipy.stats import ttest_ind

# Thực hiện kiểm định t độc lập
t_statistic, p_value_scipy = ttest_ind(men_result['home_score'], men_result['away_score'])

print("Giá trị p-value sử dụng SciPy:", p_value_scipy)

Giá trị p-value sử dụng SciPy: 0.0

5. Interpreting the result of the hypothesis test
- Interpret the p-value to determine if there is statistical significance between the two groups, assuming a 10% significance level.
- Determining the result from the p-value and significance level

Khi đã có giá trị p-value từ kiểm định giả thuyết và mức ý nghĩa đã được xác định (trong trường hợp này là 10%), chúng ta có thể diễn giải kết quả như sau:

Nếu giá trị p-value nhỏ hơn hoặc bằng mức ý nghĩa (10%), chúng ta sẽ bác bỏ giả thuyết không (null hypothesis) và kết luận rằng có sự khác biệt có ý nghĩa về mặt thống kê giữa hai nhóm.
Ngược lại, nếu giá trị p-value lớn hơn mức ý nghĩa, chúng ta không đủ bằng chứng để bác bỏ giả thuyết không và kết luận rằng không có sự khác biệt đáng kể về mặt thống kê giữa hai nhóm.
Trong trường hợp này, vì ta đã xác định mức ý nghĩa là 10%, nếu giá trị p-value nhỏ hơn hoặc bằng 0.1, ta sẽ bác bỏ giả thuyết không và kết luận rằng có sự khác biệt đáng kể về mặt thống kê giữa điểm số trung bình của đội chủ nhà và đội khách. Ngược lại, nếu giá trị p-value lớn hơn 0.1, ta không đủ bằng chứng để bác bỏ giả thuyết không và kết luận rằng không có sự khác biệt đáng kể về mặt thống kê giữa hai nhóm.

Vì vậy, kết luận cuối cùng về sự khác biệt giữa điểm số trung bình của đội chủ nhà và đội khách sẽ phụ thuộc vào giá trị p-value mà chúng ta thu được từ kiểm định giả thuyết.

* You're working as a sports journalist at a major online sports media company, specializing in soccer analysis and reporting. You've been watching both men's and women's international soccer matches for a number of years, and your gut instinct tells you that more goals are scored in women's international football matches than men's. This would make an interesting investigative article that your subscribers are bound to love, but you'll need to perform valid statistical hypothesis test to be sure!
* While scoping this project, you acknowledge that the sport has changed a lot over the years, and performances likely vary a lot depending on the tournament, so you decide to limit the data used in the analysis to only official FIFA World Cup matches (not including qualifiers) since 2002-01-01.
* You create two datasets containing the results of every official men's and women's international football match since the 19th century, which you scraped from a reliable online source. This data is stored in two CSV files: women_results.csv and men_results.csv.
- The question you are trying to determine the answer to is:
- Are more goals scored in women's international soccer matches than men's?
- You assume a 10% significance level, and use the following null and alternative hypotheses:
- Ho: The mean number of goals scored in women's international soccer matches is the same as men's.
- HA: The mean number of goals scored in women's international soccer matches is greater than men's.

#### Dịch

* Bạn đang làm việc như một nhà báo thể thao tại một công ty truyền thông thể thao trực tuyến lớn, chuyên sâu về phân tích và báo cáo về bóng đá. Bạn đã theo dõi cả các trận đấu bóng đá quốc tế nam và nữ trong một số năm, và trực giác của bạn cho biết rằng có nhiều bàn thắng được ghi trong các trận đấu bóng đá quốc tế nữ hơn so với nam. Điều này sẽ tạo nên một bài báo điều tra thú vị mà các độc giả của bạn chắc chắn sẽ yêu thích, nhưng bạn cần thực hiện một kiểm định giả thuyết thống kê hợp lệ để đảm bảo!

* Trong quá trình phát triển dự án này, bạn nhận thức rằng môn thể thao đã thay đổi rất nhiều qua các năm, và các hiệu suất có khả năng biến đổi nhiều tùy thuộc vào giải đấu, vì vậy bạn quyết định giới hạn dữ liệu được sử dụng trong phân tích chỉ vào các trận đấu bóng đá quốc tế chính thức của World Cup FIFA (không bao gồm vòng loại) từ ngày 01-01-2002.

* Bạn tạo ra hai tập dữ liệu chứa kết quả của mỗi trận đấu bóng đá quốc tế chính thức của nam và nữ từ thế kỷ 19, mà bạn đã lấy từ một nguồn trực tuyến đáng tin cậy. Dữ liệu này được lưu trữ trong hai tệp CSV: women_results.csv và men_results.csv.

* Câu hỏi mà bạn đang cố gắng tìm câu trả lời là: "Có nhiều bàn thắng hơn trong các trận đấu bóng đá quốc tế nữ so với nam không?"

* Bạn giả định một mức ý nghĩa là 10%, và sử dụng các giả thuyết sau đây:

* Ho: Số lượng bàn thắng trung bình được ghi trong các trận đấu bóng đá quốc tế nữ là giống như của nam.
* HA: Số lượng bàn thắng trung bình được ghi trong các trận đấu bóng đá quốc tế nữ lớn hơn so với nam.

In [15]:
from scipy.stats import ttest_ind
# Tính số lượng trung bình các bàn thắng được ghi trong các trận đấu bóng đá quốc tế cho nữ và nam
trung_binh_ban_thang_nu = women_result['away_score'].mean()
trung_binh_ban_thang_nam = men_result['away_score'].mean()

# Thực hiện kiểm định giả thuyết
t_statistic, p_value = ttest_ind(women_result['away_score'], men_result['away_score'])

# In kết quả
print("Số lượng trung bình các bàn thắng được ghi trong các trận đấu bóng đá quốc tế nữ:", trung_binh_ban_thang_nu)
print("Số lượng trung bình các bàn thắng được ghi trong các trận đấu bóng đá quốc tế nam:", trung_binh_ban_thang_nam)
print("Giá trị thống kê t:", t_statistic)
print("Giá trị p:", p_value)

Số lượng trung bình các bàn thắng được ghi trong các trận đấu bóng đá quốc tế nữ: 1.4314086814086815
Số lượng trung bình các bàn thắng được ghi trong các trận đấu bóng đá quốc tế nam: 1.1787928663224585
Giá trị thống kê t: 11.457518869278827
Giá trị p: 2.3559491187415873e-30