#### Phan Nguyễn Khôi Nguyên
#### 21068021

In [2]:
import pandas as pd

In [3]:
# Đọc dữ liệu
data_school = pd.read_csv(r"T:\PhanNguyenKhoiNguyen_21068021_20-04-2024\schools.csv")
data_school.head(10)

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7
5,Bard High School Early College,Manhattan,M097,634,641,639,70.8
6,Urban Assembly Academy of Government and Law,Manhattan,M445,389,395,381,80.8
7,Marta Valle High School,Manhattan,M025,438,413,394,35.6
8,University Neighborhood High School,Manhattan,M446,437,355,352,69.9
9,New Design High School,Manhattan,M445,381,396,372,73.7

#### Q1: Mô tả dữ liệu

In [4]:
print("\nDescription of the dataset:")
print(data_school.describe()) 

print("\nData type and non-null count of columns:")
print(data_school.info())

Description of the dataset:
       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

Data type and non-null count of columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None

#### Q2: Những trường có điểm Toán tốt nhất là trường mà điểm toán trung bình đạt 80% điểm tối đa (800 điểm). Viết đoạn code xuất ra danh sách các trường có điểm toán tốt nhất, lưu trong DataFrame tên best_math_schools ( gồm các cột "school_name" và  "average_math" , sắp xếp  "average_math"  theo thứ tự giảm dần.

In [6]:
import pandas as pd


threshold_score = 800 * 0.8


best_math_schools = data_school[data_school['average_math'] >= threshold_score]


best_math_schools = best_math_schools[['school_name', 'average_math']]


best_math_schools = best_math_schools.sort_values(by='average_math', ascending=False)


print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

#### Q3: Top 10 các trường có điểm tổng hợp SAT cao nhất .Viết đoạn code xuất ra danh sách 10 trường có điểm SAT tổng hợp cao nhất, lưu trong pandas DataFrame có tên top_10_schools  ( chứa "school_name" và cột mới có tên "total_SAT"), sắp xếp giảm dần theo cột "total_SAT"."

In [12]:
# Assuming the data is in a DataFrame called 'df'
data_school['total_SAT'] = data_school['average_math'] + data_school['average_reading'] + data_school['average_writing']
data_school[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False).head(10)

# print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

#### Q4: Quận (borough) nào có độ lệch chuẩn của điểm SAT tổng hợp lớn nhất Lưu kết quả trong pandas DataFrame tên largest_std_dev. DataFrame này chứa 1 hàng gồm các cột "borough", " building_code" , "average_SAT", std_SAT" . Giá trị độ lệch chuẩn làm tròn đến 2 chữ số thập phân.

In [41]:
# Gom nhóm cột brought 
# Sau đó tính độ lêch chuẩn của total_SAT và gán vào biến std_dev
std_dev = data_school.groupby('borough')['total_SAT'].std()
# print(std_dev)
# Lấy độ lệch chuẩn cao nhất dùng phương thức idxmax và gán cho biến largest_std_dev_borough
largest_std_dev_borough = std_dev.idxmax()
# print(largest_std_dev_borough)
# Lọc ra các dòng từ data và cho cột borought = largest_std_dev_borough độ lêch chuẩn lớn nhất và gán cho biến largest_std_dev
largest_std_dev = data_school[data_school['borough'] == largest_std_dev_borough]
# Tính trung bình của total_SAT vừa tính được ở largest_std_dev
average_SAT = largest_std_dev['total_SAT'].mean()
# Tạo dataFrame chứa các thông tin cột: borough, building_code, average_SAT, std_SAT
largest_std_dev = pd.DataFrame({
    'borough': [largest_std_dev_borough],
    # Trả về mã số tòa nhà trường đầu tiên
    'building_code': [largest_std_dev['building_code'].values[0]], 
    # tính trung bình và làm tròn 2 chữ số thập phân
    'average_SAT': [round(average_SAT, 2)],
    # Tính độ lệch chuẩn có giá trị lớn nhất và làm tròn 2 chữ số thập phân
    'std_SAT': [round(std_dev.max(), 2)]
})
# In giá trị
print(largest_std_dev)

     borough building_code  average_SAT  std_SAT
0  Manhattan          M022      1340.13   230.29

In [38]:
data_school['average_SAT'] = data_school['total_SAT'] / 3
data_school['std_SAT'] = data_school.groupby('borough')['total_SAT'].std().reset_index()['total_SAT']
largest_std_dev = data_school[data_school['std_SAT'] == data_school['std_SAT'].max() ]  
largest_std_dev = largest_std_dev[['borough','building_code','average_SAT','std_SAT']]
largest_std_dev['std_SAT'] = largest_std_dev['std_SAT'].round(2)
print(largest_std_dev)

     borough building_code  average_SAT  std_SAT
2  Manhattan          M445   420.333333   230.29